
// Body
// $azure: #3855B0;
// $cornFlower: #A0C6EC;
// $easternBlue: #1983AB;
// $Hampton: #E3CCA9;
// $aquaMarine: #76FFA9;

$secondary: #6485C9;
$tertiary: #263960;
$info: #263960;
$primary: #FAE3AE;
$quaternary: #FFEFCB;
$dark: #263960;
// $quinary


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
