
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// 3855B0
// A0C6EC
// 1983AB
// E3CCA9
// 76FFA9

.navbar-laravel {
  background-color: #1983AB;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  @extend .shadow;
}

body {
  background-color: #E3CCA9; 
}

.logo {
  //background-image: url("/../img/temp_logo.png");
  width: 25%;

  float: none;
}

.imgframe {
  @extend .col; 
  // @extend .col-sm-12;
  // width: 18em;
  // height: 32em;
  
  
  @extend .m-3;
  @extend .p-0;
  @extend .rounded-0;
}

// .imgframebody {
//   background-image: url("/../img/1.jpg");
//   @extend .img-fluid; 
// }

.imgprops {
  @extend .img-fluid;
  width: 100%;
  @extend .m-0;
  @extend .p-0;
  position: relative;
}

.arrowcontainer {
  position: absolute;

  right: 0;
  bottom: 3%;
}

.arrow {
  position: relative;
  @extend .btn;

}

.arrow:hover {
  
  
  @extend .bg-light;
}

.upvotearrow {
  @extend .text-success;
}

.downvotearrow {
  @extend .text-danger;
  @extend .mr-1;
}
