
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// #3855B0
// #A0C6EC
// #1983AB
// #E3CCA9
// #76FFA9

.settings-menu-navbar {
  background-color: #5672AD;
  border: none;
  @extend .rounded-0;
  @extend .mt-4;
}

.settings-card {
  background-color: #5672AD;
  @extend .shadow;
  border: none;
  @extend .rounded-0;
  @extend .mt-4;
}

.navbar-laravel {
  background-color: #5672AD;
  @extend .shadow;
}

.nav-link, label{
  color: #263960 !important;
  font-weight: bold;
}

.sticky-sidebar {
  position: sticky;
}

body {
  background-color: #FAE3AE; 
}

.form-control {
  background-color: #FFEFCB;
}

.logo {
  width: auto;
  height: 55px;
  @extend .my-0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:0;
}

.imgrow {
  @extend .mx-5;
}

.imgframe {

  @extend .col-sm;
  @extend .m-3;
  @extend .p-0;
  @extend .rounded-0;
  @extend .shadow-lg;
  background: black;
  
}

.imgprops {
  opacity: 1;
  transition: .5s ease;
  //backface-visibility: hidden;

  @extend .img-fluid;
  width: 100%;
  height: 100%;
  @extend .m-0;
  @extend .p-0;
  position: relative;
}



.imgframe:hover .imgprops {
  opacity: 0.7;
}

.imgframe:hover .arrowcontainer {
  opacity: 1;
}


.arrowcontainer {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  bottom: 0;
}

.arrow {
  position: relative;
  @extend .btn;
  @extend .btn-sm;

}

.btn {
  background-color: #263960;
}

.btn:hover {
  background-color: #C8E5FB;
}

.arrow:hover {
  
  
  @extend .bg-light;
}

.upvotearrow {
  @extend .text-success;
}

.downvotearrow {
  @extend .text-danger;
  @extend .mr-1;
}

.signature {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
}

.canvas-button {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: darkgrey;
  background: grey;
}

.canvas-button:hover {
  opacity: .7;
}

#edit-button {
  position: absolute;
  right: 10%;
  margin-right: 0;
}

canvas {
  background: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
