
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// #3855B0
// #A0C6EC
// #1983AB
// #E3CCA9
// #76FFA9











// app.blade styling

.navbar-laravel {
  background-color: #5672AD;
  @extend .shadow;
  width: 100%;
  // position: fixed;
  // z-index: 999999;
}

.nav-link, label{
  color: #263960 !important;
  font-weight: bold;
}

.sticky-sidebar {
  position: sticky;
}

body {
  padding-top: 50px;
  background-color: #FAE3AE; 
}

.form-control {
  background-color: #FFEFCB;
}

.logo {
  width: auto;
  height: 55px;
  @extend .my-0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:0;
}














// home page styling

.img-row {
  @extend .mx-5;
}

.img-frame {

  @extend .col-sm;
  @extend .m-3;
  @extend .p-0;
  @extend .rounded-0;
  @extend .shadow-lg;
  background: linear-gradient(to bottom, darkgrey, black);
  
}

.img-props {
  opacity: 1;
  transition: .5s ease;
  //backface-visibility: hidden;

  @extend .img-fluid;
  width: 100%;
  height: 100%;
  @extend .m-0;
  @extend .p-0;
  position: relative;
}



.img-frame:hover .img-props {
  opacity: 0.5;
}

.img-frame:hover .arrow-container {
  opacity: 1;
}


.arrow-container {
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  bottom: 0;
}

.arrow {
  position: relative;
  @extend .btn;
  @extend .btn-sm;

}

.btn {
  background-color: #263960;
}

.btn:hover {
  background-color: #C8E5FB;
}

.arrow:hover {
  
  
  @extend .bg-light;
}

.upvote-arrow {
  @extend .text-success;
}

.downvote-arrow {
  @extend .text-danger;
  @extend .mr-1;
}

.report-container {
  position: absolute;
  top: 5px;
  right: 20px;
  transition: .5s ease;
  opacity: 0;
}

.report-btn {
  text-decoration: underline;
  color: #263960;
}

.report-container:hover {
  color: #5672AD;
}

.img-frame:hover .report-container {
  opacity: 1;
}












// user drawings styling
.user-img-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 30px;
  
}

.user-img-thumbnail {
  width: 150px; 
  height: 150px;

  background: linear-gradient(to bottom, lightgrey, black);
  
  overflow: hidden;
  position: relative;
}

.user-img {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.user-img-thumbnail:hover .user-img {
  opacity: .6;
}















// Settings pages styling

.signature {
  width: 100%;
}

.settings-menu-navbar {
  background-color: #5672AD;
  border: none;
  @extend .rounded-0;
  @extend .mt-4;
}

.settings-card {
  background-color: #5672AD;
  @extend .shadow;
  border: none;
  @extend .rounded-0;
  @extend .mt-4;
}
















// Drawing app styling

.drawing-app-wrapper {
  background: #263960;
  position: relative;
  width: 511.1px;
  height: 604px;
  margin-right: 0%;
  top: 10%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  @extend .shadow-lg;
}

.drawing-app-button-navbar {
  display:inline-block;
  width: 107px;
  height:605px;
  vertical-align: top;
  border-style: solid;
  border-color: #263960;
  border-width: thick;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 2px;
}

.canvas-button {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: lightgrey;
  background: darkgrey;
  justify-self: center;
  position: relative;
}

.button-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-height: 12px;
}

.canvas-button:hover {
  opacity: .7;
}

#drawing-app-canvas {
  margin-left: -5px;
  border-style: solid;
  border-color: #263960;
  border-width: thick;
  background: white;
}

#edit-button {
  position: absolute;
  right: 10%;
  margin-right: 0;
}

