
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// #3855B0
// #A0C6EC
// #1983AB
// #E3CCA9
// #76FFA9

.settings-menu-card {
  background-color: #AEC6FA;
  @extend .shadow;
  border: none;
  @extend .rounded-0;
}

.settings-card {
  background-color: #5672AD;
  @extend .shadow;
  border: none;
  @extend .rounded-0;
}

.navbar-laravel {
  background-color: #5672AD;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  @extend .shadow;
  color: #fff;
  font-weight:bold;
}

body {
  background-color: #FAE3AE; 
}

.logo {
  width: auto;
  height: 100%;
  @extend .my-0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:0;
}

.imgframe {
  @extend .col; 
  @extend .m-3;
  @extend .p-0;
  @extend .rounded-0;
  @extend .shadow-lg;
  
}

.imgprops {
  
  @extend .img-fluid;
  width: 100%;
  @extend .m-0;
  @extend .p-0;
  position: relative;
}

.arrowcontainer {
  position: absolute;

  right: 0;
  bottom: 3%;
}

.arrow {
  position: relative;
  @extend .btn;

}

.arrow:hover {
  
  
  @extend .bg-light;
}

.upvotearrow {
  @extend .text-success;
}

.downvotearrow {
  @extend .text-danger;
  @extend .mr-1;
}

.signature {
  width: 100%;
}

#edit-button {
  position: absolute;
  right: 10%;
  margin-right: 0;
}
